h1 {
  background-color: red;    /* bc */
  padding: 50px;                         /* p */ 
  border: 10px solid #000;  /* bd */
  margin: 50px;                           /* m */ 

  border-radius:  50px 20px;    
  }

  div {
    color: white;
    background:gray;
    
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
  }

  span {
    color: white;
    background-color: red;
}

.block {
  display: block;
  background: darkblue;
}

.inline {
  display: inline;
  background: darkred;
}

.inline-block {
  display: inline-block;
  background: indigo;
}
.autor {
  font-style: italic;
}
.rojo {
  color: red;
}
.amarillo {
  color: yellow;
}
