* {
    background-color:pink;
    color:red; /* color rojo*/ 
}

h1 {
    color:blue;
}

#id-h2 {

    font-style: italic;

}

.clase1 {

    font-size: xx-large;

}

.clase2 {
    color:green; /*  color verde */
}
