body{
    margin: 0;
}
header{
    border: 1px solid #000;
    background-color: palevioletred;
}
nav{
    border: 1px solid #000;
    background-color: burlywood;
}

footer{
    border: 1px solid #000;
    background-color: lightgreen;
}
section{
    border: 3px solid red;
}
article {
    border: 1px solid #000;
    background-color: lightgray;
}
aside{
    border: 1px solid #000;
    background-color: yellowgreen;
    width: 20%;
}
.cuerpo {
    display: flex;
}
.contenido {
    width: 80%;
}